.Arial9 {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt}
.Verdana9 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt}
a {  color: #999999; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt}
a:hover {  color: #CCCCCC; text-decoration: none}
.MSSansSerrif {  font-family: "MS Sans Serif"; font-size: 8pt}
.CenturyGothic9 {  font-family: "Century Gothic"; font-size: 9pt}
.tableallborder {  border: 1px #999999 solid; font-family: "Century Gothic"; font-size: 8pt; border-color: #484848 solid #484848}
.CenturyGothic14 {  font-family: "Century Gothic"; font-size: 18pt}
.Verdana14 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14pt}
.Arial12 {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold}
.Verdana8 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt}
